body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #41538fe0;
  margin: 0;
  padding: 0;
}
.cards1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
}
.super-héros {
  background-color: white;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.super-héros-shiny {
  background-color: #f0e68c;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.super-héros-img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}
.super-héros h3 {
  color: #333;
  font-size: 0.90em;
  padding: 0px 30px;
}
.super-héros h2 {
  color: #391e9b;
  font-size: 1.3em;
  padding: 0px 30px;
}
.super-héros p {
  color: #333;
  font-size: 0.90em;
  padding: 0px 30px;
}
.super-héros-shiny h3 {
  color: #333;
  font-size: 0.90em;
  padding: 0px 30px;
}
.super-héros-shiny h2 {
  color: #391e9b;
  font-size: 1.3em;
  padding: 0px 30px;
}
.super-héros-shiny p {
  color: #333;
  font-size: 0.90em;
  padding: 0px 30px;
}
.super-héros:last-child {
  grid-column: 2 / 4;
  justify-self: center;
}