body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
  background-image: url('../img/landscapes/landscape1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  height: 100vh;
  padding: 2rem 5rem;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 200px 0 0;
  background: transparent;
  gap: 4rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000000;
}

header h1 {
  text-align: left;
    font-size: 3rem;
    letter-spacing: 5px;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
    border-bottom: 2.5px solid #3D858E;
    display: inline-block;
    padding-bottom: 0.3rem;
    padding-right: 4rem;
}

header h2 {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 0 0 1rem 4rem;
}

header p {
    font-size: 1.2rem;
    max-width: 70%;
    margin: 0 0 1rem 4rem;
}

section {
    margin-bottom: 4rem;
    padding: 2rem 2rem;
    box-sizing: border-box;
}

#biographie {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    gap: 2rem;
    padding: 2rem;
}

#biographie .texte h2 {
    color: #F6A844;
    font-size: 2rem;
    border-bottom: 2px solid #F6A844;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

#biographie .texte p {
    text-align: justify;
    max-width: 600px;
    font-size: 1.1rem;
    margin-top: 0;
}

#biographie img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 12rem;
    margin-top: 3rem;  
}

.btn-primary {
  background-color: #F6A844;
  border: none;
}

#Portraits {
    text-align: center;
    background-color: #3D858E;
    width: 100%;
}

#Portraits h2 {
    color: #ffffff;
    font-size: 2rem;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#landscape {
    text-align: center;
}

#landscape h2 {    
    color: #F6A844;
    font-size: 2rem;
    border-bottom: 2px solid #F6A844;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.galerie, .Landscape {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 300px);
  gap: 0.5rem;
  width: 90%;
  margin: 1rem auto;
}

.galerie img, .Landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.galerie img:hover, .Landscape img:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.galerie img:nth-child(1) {
  grid-column: 5 / span 3;
  grid-row: 1 / span 1;
}
.galerie img:nth-child(2) {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}
.galerie img:nth-child(3) {
  grid-column: 3 / span 3;
  grid-row: 3 / span 1;
}
.galerie img:nth-child(4) {
  grid-column: 4 / span 4;
  grid-row: 4 / span 1;
}
.galerie img:nth-child(5) {
  grid-column: 6 / span 2;
  grid-row: 2 / span 2;
}
.galerie img:nth-child(6) {
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
}
.galerie img:nth-child(7) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}
.galerie img:nth-child(8) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.galerie img:nth-child(9) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.Landscape img:nth-child(1) {
  grid-column: 5 / span 3;
  grid-row: 1 / span 1;
}
.Landscape img:nth-child(2) {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}
.Landscape img:nth-child(3) {
  grid-column: 3 / span 3;
  grid-row: 3 / span 1;
}
.Landscape img:nth-child(4) {
  grid-column: 4 / span 4;
  grid-row: 4 / span 1;
}
.Landscape img:nth-child(5) {
  grid-column: 6 / span 2;
  grid-row: 2 / span 2;
}
.Landscape img:nth-child(6) {
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
}
.Landscape img:nth-child(7) {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}
.Landscape img:nth-child(8) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.Landscape img:nth-child(9) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

#Contact {
    background-color: #3D858E;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 2rem 1rem;
}

footer nav {
    margin-bottom: 1rem;
    background: none;
    justify-content: left;
}

footer a {
    color: #000000;
    margin: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #D1897B;
}

footer p {
    font-size: 0.9rem;
    opacity: 0.8;
}
