.html, body {
        margin:0;
        padding: 0;
}
.base-container {
        display: flex;
         flex-direction: column;
        min-height: 100vh;
}
.main-container {
        display:flex;
        flex-direction: row;
        flex-grow: 10;
}
.header {
        background-color: aliceblue;
        flex-grow: 1;
}
.sidebar-left {
        background-color: lightcoral;
        flex-grow: 1;
}
.content {
        background-color: lightgray;
        flex-grow: 10;
}
.sidebar-right {
        background-color: lightgreen;
        flex-grow: 1;
}
.footer {
        background-color: antiquewhite;
        flex-grow: 1;
}